.mywork {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    

}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.mywork-container img {
    width: 380px;
    height: 250px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    object-fit: cover; 
    display: block;
padding: 4px;
}

.mywork-container img:hover{
    transform: scale(1.10);
      transition: 0.3s;
}

.mywork-item {
  position: relative;
  display: inline-block;
}

.mywork-item img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  transition: 0.3s;
}

.mywork-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* خلفية شفافة سوداء */
  color: #fff;
    display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mywork-item:hover .mywork-overlay {
  opacity: 1;
}
.mywork-button {
  background-color: white;
  color: rgb(84, 27, 97);
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-transform: uppercase;
}


@media(max-width:768px){
.mywork{
    gap: 40px;
    margin: 50px 20px;
   
}
.mywork-container{
    grid-template-columns: 1fr;
  

}

}

@media (max-width: 480px) {
  .mywork {
    margin: 40px 20px;
    gap: 30px;
  }

  .mywork-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .mywork-container img {
     width: 100%;
    height: 100%;
  }

  .mywork-button {
    padding: 10px 16px;
    font-size: 14px;
  }
}