.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  flex-direction: row-reverse; /* الصورة على اليمين */
}

/* الصورة على اليسار */
.footer-links img {
  width: 400px;
  max-width: 100%;
}

/* القسم الذي يحتوي على الشعار والمحتوى */
.footer-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  width: 160px;
}

.footer-description {
  font-size: 18px;
  line-height: 1.7;
  color: rgb(154, 146, 146);
  max-width: 100%;
  text-align: justify;
}

.footer-icons {
  display: flex;
  gap: 20px;
  
  
}

.footer-icons a {
  color: white;
  transition: 0.3s;
  font-size: 30px;
}

.footer-icons a:hover {
  transform: scale(1.2);
  color: #b923e1;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
}

hr {
  border: none;
  height: 1px;
  background: #ffffff30;
}
.icon-re{
  font-size: 18px;
  vertical-align: middle;
  color: #FB53DC;
}

/* ريسبونسيف */
@media (max-width: 768px) {
  .footer {
    margin: 40px 20px;
  }
  .footer-top {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .footer-info {
    align-items: center;
  }
  .footer-description {
    font-size: 16px;
  }
  .footer-icons {
    justify-content: center;
  }
  .footer-links img {
    width: 200px;
  }
}
